#==== Deepgram ====
DEEPGRAM_API_KEY=xxxx

DEEPGRAM_ASR_LANGUAGE=en-US
# DEEPGRAM_ASR_LANGUAGE=multi

DEEPGRAM_ASR_MODEL=nova-3
# DEEPGRAM_ASR_MODEL=nova-3-medical
# DEEPGRAM_ASR_MODEL=nova-2

DEEPGRAM_ASR_PUNCTUATE=true