#==== Deepgram ====

DEEPGRAM_API_KEY=xxxxxxxx

DEEPGRAM_STT_LANGUAGE=en-US
# DEEPGRAM_STT_LANGUAGE=multi

DEEPGRAM_STT_MODEL=nova-3
# DEEPGRAM_STT_MODEL=nova-3-medical
# DEEPGRAM_STT_MODEL=nova-2
# DEEPGRAM_STT_MODEL=nova-2-meeting

DEEPGRAM_STT_PUNCTUATE=true

DEEPGRAM_STT_SMART_FORMAT=false

DEEPGRAM_STT_DIARIZE=false
DEEPGRAM_STT_DIARIZE_SPEAKER_COUNT=2

DEEPGRAM_STT_ENDPOINTING=300

#-- Using native WebSocket connection, not Deepgram npm library --

DEEPGRAM_WS_LISTEN_ENDPOINT_URL=api.deepgram.com/v1/listen

